{# ajouterGenre.html.twig #}

{% extends "BMGgestBundle::layout.html.twig" %}
{% block contenu %}
    <div id="content">
        <h2>Gestion des genres</h2>

        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="erreur">
                {{ flash_message }}
            </div>
        {% endfor %}

        <div id="object-list">
            <div class="corps-form">
                {# {{ form(form) }} #}
                {{ form_start(form, {'attr': {'class' : 'corps-form'}}) }}
                {# Les erreurs générales du formulaire #}
                {{form_errors(form)}}
                <fieldset>
                    <legend>Ajouter un genre</legend>
                    <table>
                        <tr>
                            <td>
                                {# génération du label #}
                                {{ form_label(form.codeGenre, "Code Genre :")}}
                                {# Affichage des erreurs pour ce champ précis #}
                                {{ form_errors(form.codeGenre) }}
                            </td>
                            <td>
                                {# génération du l'input #}
                                {{ form_widget(form.codeGenre) }}
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                {# génération du label #}
                                {{ form_label(form.libGenre, "Libellé :")}}
                                {# Affichage des erreurs pour ce champ précis #}
                                {{ form_errors(form.libGenre) }}
                            </td>
                            <td>
                                {# génération du l'input #}
                                {{ form_widget(form.libGenre) }}
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div class="pied-form">
                {{ form_widget(form.save, {'label' : 'Ajouter'})}}
                {{ form_rest(form) }}
                
                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
