{# consulterGenre.html.twig #}

{% extends "BMGgestBundle::layout.html.twig" %}
{% block contenu %}
    <div id="content">
    <h2>Gestion des genres</h2>
    
    {# affichage des messages flash #}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="info">
            {{flash_message}}
        </div>
    {% endfor %}
    <br>
    <br>
    <a href="{{path('bmg_lister_genres')}}">
       Gestion des genres
    </a>
    <div id="object-list">
        <div class="corps-form">
            <fieldset>
                <legend>Consulter un genre</legend>                        
                <div id="breadcrumb">
                    {% set id = leGenre.getCodeGenre() %}
                    <a href="{{path('bmg_ajouter_genre')}}">Ajouter</a>&nbsp;
                    <a href="{{path('bmg_modifier_genre', {'id' : id})}}">Modifier</a>&nbsp;
                    <a href="{{path('bmg_supprimer_genre', {'id' : id})}}">Supprimer</a>&nbsp;
                </div>
                <table>
                    <tr>
                        <td class="h-entete">
                            Code :
                        </td>
                        <td class="h-valeur">
                            {{id}}
                        </td>
                    </tr>
                    <tr>
                        <td class="h-entete">
                            Libellé :
                        </td>
                        <td class="h-valeur">
                            {{leGenre.getLibGenre()}}
                        </td>
                    </tr>
                </table>
            </fieldset>                    
        </div>
    </div>
</div>
{% endblock %}
    
    
